body{
  font-family: Helvetica;
  background-color: #f1f2f6;
}
p{
  padding: 0;
  margin: 0;
}

.container{
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ced6e0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.15);
  margin: auto;
  h1{
      font-size: 47px;
      
      text-align: center;
      color: #fc5c65;
      opacity: 0.4;
  }
  .form{
      display: flex;
      align-items: center;
      #todo__form{
          flex-basis: 350px;
          padding-right: 4px;
      }
      .toggle-all-button{
          flex-basis: 32px;
          width: 100%;
      }
      #toggle-all{
          padding: 0 20px;
          position: relative;
          cursor: pointer;
          color: #778ca3;
          font-size: 22px;
          background-color: white;
          border: none;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
      }
  }
  
  #todo__text, .edit{
      border: 1px solid #ced6e0;
      border-radius: 2px;
      width: 100%;
      max-width: 350px;
      padding: 1px;
      height: 50px;
      margin: auto;
  }
  #todo__text:focus, .edit:focus{
      border: 1px solid #0652DD;
  }
  #todo__list{
      padding: 0;
      width: 100%;
      list-style-type: none;
      li{
          display: flex;
          position: relative;
          min-height: 35px;
          border-bottom: 1px solid #ced6e0;
          align-items: center;
      }
      input[type="checkbox"] + label{
          font-size: 22px;
          word-break: break-all;
          color: black;
          transition: all 0.3s ease-in-out;
      }
      input[type="checkbox"]:checked + label {
          text-decoration: line-through;
          color:rgba(128, 128, 128, 0.432);          
      }
      
  }
  #todo__remove{
      top: 0;
      border: none;
      font-size: 16px;
      background: none;
      color: #fc5c65;
  }
  #todo__remove:hover{
      cursor: pointer;
      color: #eb3b5a;
      align-items: center;
  }
  .filter{
      justify-content: space-between;
      align-content: center;
      display: flex;
      #active__count{
          padding: 3px;
      }
      .filter__link {
          cursor: pointer;
          font-size: 15px;
          padding: 3px;
          margin: 1px;
      }
      .filter__link:hover{
          margin: 0;
          border: 1px solid rgba(128, 128, 128, 0.432);
      }
      .filter__link.active{
          margin: 0;
          border: 1px solid #778ca3;
      }
    }
    .items{
        display: flex;
        padding: 5px;
        widows: 100%;
    }
    #clear__completed{
      font-size: 15px;
      margin: 1px;
      padding: 3px;
      cursor: pointer;
    }
    #clear__completed:hover{
      text-decoration: underline;
    }
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0;
  margin: 0;
  top: 0;
  width: 20px;
  height: 35px;
  z-index: 10;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  margin-left: 28px;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */
  -moz-user-select: none;
    /* поэтому нужны префиксы */
  -ms-user-select: none;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
  content: "";
  position: absolute;
  z-index: 1;
  left: -28px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #778ca3;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
  left: -25px;
  top: 4px;
  z-index: 2;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #26de81;
  border-bottom: 4px solid #26de81;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}